.shows{
  color: yellow;
  background-color: black;
  float: right;
  padding: 7px;
  margin: 4px;
  width: 35%;
  border:4px solid yellow;
}

body{
  background-color: rgb(114, 205, 208);
}

h1{
  color:rgb(155, 14, 68);
  text-align:center ;
  font-size: 45px;
}

.bandpic{
  float: left;
  width:10%;
  margin: 5px;
  border: 2px solid black;
}

.mainpic{
  float:left ;
  width: 45%;
  border: 2px solid black;
}


