.shows{
  color: yellow;
  background-color: black;
  width: 30%;
  float: right;
}
body{
  background-color: rgb(114, 205, 208);
}

h1{
  color:rgb(155, 14, 68);
  text-align:center ;
  font-size: 45px;
}

.bandpic{
  float: left;
  width:10%;
}

.mainpic{
  float:left ;
  width: 45%;
}